section.layout-location.container
    .layout-location__wrap
        iframe.layout-location__map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3231.8644092321833!2d139.77339167572805!3d35.90133637251704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601896062590cd9b%3A0xb50d631e7e466663!2s4-ch%C5%8Dme-8-5%20Kitakoshigaya%2C%20Koshigaya%2C%20Saitama%20343-0026%2C%20Japan!5e0!3m2!1sen!2sph!4v1734920282264!5m2!1sen!2sph"
            width="760"
            height="520"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            )
        .layout-location__info
            img.layout-location__img(src=`${assetsPath}/images/location/layout-location_border.png` alt='')
            .layout-location__ttl-content
                .layout-location__ttl.ttl-01
                    img.ttl-01__img(src=`${assetsPath}/images/common/ttl_logo.png` alt='')
                    p.ttl-01__en Location
                    p.ttl-01__jp 所在地
                .layout-location__address 
                    p 〒343-0026 <br> 埼玉県越谷市北越谷4-8-5
                    p Tel 048-974-4661